*~
_*
*.o
*.d
*.sym
bootblock
entryother
initcode
initcode.out
kernelmemfs
build/
user/build
mkfs/mkfs
.cache
compile_commands.json
bin/
rootfs/
disk.img
asm.asm
memlayout.asm
mmu.asm
param.asm
syscall.asm
traps.asm
